<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Todo in Onefile</title>
</head>
<body>
    <div id="app">
        <input type="text" placeholder="What are you going to do?" v-model="newTodoitem">
        <button v-on:click="addToList">Add to list</button>
        <ul>
            <li v-for="todo in todoitems"><input type="checkbox" v-bind:id="todo" v-on:click="removeFromList">{{ todo }}</li>
        </ul>
    </div>
    
    <script src="https://www.gstatic.com/firebasejs/5.6.0/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyAu_Q6ymuPYu6GwTZ-FW5zaPpA0TRFdgT8",
        authDomain: "pwa-hw-todo-app.firebaseapp.com",
        databaseURL: "https://pwa-hw-todo-app.firebaseio.com",
        projectId: "pwa-hw-todo-app",
        storageBucket: "pwa-hw-todo-app.appspot.com",
        messagingSenderId: "860245597804"
      };
      firebase.initializeApp(config);
    </script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                newTodoitem: '',
                todoitems: []
            },
            methods: {
                addToList: function(event) {
                    if (this.newTodoitem != '') {
                        this.todoitems.push(this.newTodoitem)
                        localStorage.setItem('mytodoitems', JSON.stringify(this.todoitems))
                        this.newTodoitem = ''
                    }
                },
                removeFromList: function(event) {
                    var choice = confirm("`" + event.target.id + "` will be removed. Are you sure?")
                    if (choice) {
                        var targetIndex = this.todoitems.indexOf(event.target.id)
                        event.target.checked = false
                        this.todoitems.splice(targetIndex,1)
                        localStorage.setItem('mytodoitems', JSON.stringify(this.todoitems))
                    } else {
                        event.target.checked = false
                    }
                }
            },
            created: function() {
                // Check if localStorage is already setup
                if (localStorage.getItem('mytodoitems') === null)
                {

                } else {
                    this.todoitems = JSON.parse(localStorage.getItem('mytodoitems'))
                }
            }
        })
    </script>
</body>
</html>